@using Labs.Mvc.Models
@model BulkModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Index" method="post">
        <div className="form-horizontal">
            <div class="form-group">
                <select asp-for="SearchTerm" class="form-control">
                    @foreach( var term in Model.Terms) {
                        <option value="@term.Code">@term.Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <textarea asp-for="SearchCourses" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

@if (Model.Results != null && Model.Results.Students != null && Model.Results.Students.Count > 0)
{
    <div style="padding-top: 15px">
        <div class="card">
            <div class="card-header">
                <h2>Students</h2>
                @foreach(var student in Model.Results.Students)
                {
                    <p>@student.FirstName @student.LastName</p>
                }
            </div>
        </div>
    </div>
}

@if (Model.Results != null && Model.Results.Cards != null && Model.Results.Cards.Count > 0)
{
    <div style="padding-top: 15px">
        <div class="card">
            <div class="card-header">
                <h2>Cards</h2>
                @foreach(var card in Model.Results.Cards)
                {
                    <p>@card.strFirstName @card.strLastName</p>
                }
            </div>                
        </div>
    </div>
}
